%footer
  .row
    .large-6.columns
      %p= link_to '@benedictaluan', 'http://twitter.com/benedictaluan', target: '_blank'
    .large-6.small-12.columns
      %ul.inline-list.right
        %li
          = link_to 'GitHub', 'https://github.com/benedictaluan/gemfly'
        %li
          = link_to 'Tweet', 'https://twitter.com/intent/tweet?original_referer=http://gemfly.findings.co/&text=http://gemfly.findings.co – Make your Gemfile gems up-to-date'