<div class="panel">
  <div class="row">
    <div class="small-6 columns">
      <%= form_tag url_for(controller: 'gemfiles', action: :create), method: :post, html: { role: 'form' }, remote: true  do %>
        <div class="row">
          <div class="small-12 columns">
            <%= text_area_tag :gemfile, params[:gemfile], rows: 25, placeholder: t('form.placeholder_gemfile').html_safe %>
          </div>
        </div>

        <br/>
        
        <div class="row">
          <div class="small-12 columns">
              <%= submit_tag 'Update Gemfile', class: 'button small success right round', id: 'update-gemfile', data: { disable_with: t('form.message_disable_with') } %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="small-6 columns">
      <div class="updated_gemfile">
        <%= render 'gemfiles/update_gemfile', obj: @updated_gemfile %>
      </div>
    </div>
  </div>
</div>