<div class="main">
  <div class="row">
    <div class="small-6 columns">
      <%= form_tag url_for(controller: 'gemfiles', action: :create), method: :post, html: { role: 'form' }, remote: true  do %>
        <div class="row">
          <div class="small-12 columns">

            <div class="editor-window">
              <div class="top-bar">
                <div class="circles">
                  <div class="circle circle-red"></div>
                  <div class="circle circle-yellow"></div>
                  <div class="circle circle-green"></div>
                </div>
              </div>
              <div class="window-content">
                <%= text_area_tag :gemfile, params[:gemfile], rows: 25, placeholder: t('form.placeholder_gemfile').html_safe %>
              </div>
            </div>

          </div>
        </div>

        <br/>
        
        <div class="row">
          <div class="small-12 columns">
            <%= submit_tag t('form.button_submit'), class: 'button small right radius', id: 'update-gemfile', data: { disable_with: t('form.message_disable_with') } %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="small-6 columns">
      <div class="updated_gemfile">
        <%= render 'gemfiles/update_gemfile', obj: @updated_gemfile %>
      </div>
    </div>
  </div>
</div>


